<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="storagecnstring" value="DefaultEndpointsProtocol=https;AccountName=storageteteman;AccountKey=SWm6DU1JUgChZ3Tfqn3AQIOgOOs7VgRuOLwKp/wPgJso3ZgCK9TQnbzOOjHtioMKTg4E7Lu8SMhVYbDGjNwAmg==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>